[Unit]
Description=Run lightspeed clear expired and revoked tokens
Requires=ansible-lightspeed-cleartokens.service

[Timer]
OnCalendar=*-*-* *:0/15:00
Persistent=true

[Install]
WantedBy=timers.target
