name: Ansible Lightspeed Intelligent Assistant
service:
{% if ansible_all_ipv6_addresses | length > 0 %}
  host: '*'
{% else %}
  host: 0.0.0.0
{% endif %}
  port: {{ _lightspeed_chatbot_port }}
{% if not lightspeed_chatbot_disable_https | bool %}
  tls_config:
    tls_certificate_path: /etc/ansible-automation-platform/lightspeed/lightspeed-chatbot.crt
    tls_key_path: /etc/ansible-automation-platform/lightspeed/lightspeed-chatbot.key
{% endif %}
  auth_enabled: false
  workers: 1
  color_log: true
  access_log: true
llama_stack:
  use_as_library_client: true
  library_client_config_path: /.llama/distributions/llama-stack/config/ansible-chatbot-run.yaml
user_data_collection:
  feedback_enabled: false
  transcripts_enabled: false
customization:
  system_prompt_path: /.llama/distributions/ansible-chatbot/system-prompts/default.txt
authentication:
  module: "api-key-token"
  api_key_config:
    api_key: ${env.CHATBOT_API_KEY}
{% if lightspeed_mcp_controller_enabled | bool or lightspeed_mcp_lightspeed_enabled | bool %}
mcp_servers:
{% if lightspeed_mcp_controller_enabled | bool %}
  - name: mcp::aap-controller
    provider_id: model-context-protocol
    url: "{{ _lightspeed_mcp_controller_url }}/sse"
    authorization_headers:
      X-DAB-JW-TOKEN: "client"
{% endif %}
{% if lightspeed_mcp_lightspeed_enabled | bool %}
  - name: mcp::aap-lightspeed
    provider_id: model-context-protocol
    url: "{{ _lightspeed_mcp_lightspeed_url }}/sse"
    authorization_headers:
      X-DAB-JW-TOKEN: "client"
{% endif %}
{% endif %}
{% if lightspeed_chatbot_byok_image is defined %}
byok_rag:
  - rag_id: byok-docs
    rag_type: inline::faiss
    embedding_model: sentence-transformers/${env.EMBEDDINGS_MODEL:=/.llama/data/embeddings_model}
    embedding_dimension: 768
    vector_db_id: {{ _byok_provider_vector_db_id.stdout | trim }}
    db_path: /.llama/data/byok/distributions/ansible-chatbot/faiss_store.db
    score_multiplier: {{ lightspeed_chatbot_byok_score_multiplier }}
{% endif %}
