[supervisord]
nodaemon = true
pidfile = /run/supervisor/supervisord.pid
logfile = /dev/stdout
logfile_maxbytes = 0
childlogdir = /run/supervisor

[program:nginx]
command = nginx -g "daemon off; error_log /dev/stderr error;"
autorestart = true
stopasgroup = true
killasgroup = true
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
redirect_stderr = true

[program:gunicorn]
command = python -m gunicorn metrics_service.wsgi:application --bind 127.0.0.1:{{ automationmetrics_api_port }} --workers {{ automationmetrics_gunicorn_workers }} --timeout {{ automationmetrics_gunicorn_timeout }} --capture-output --access-logfile - --error-logfile -
autorestart = true
stopasgroup = true
killasgroup = true
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
redirect_stderr = true

[unix_http_server]
file = /run/supervisor/supervisor.sock

[supervisorctl]
serverurl = unix:///run/supervisor/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
